<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>AAA54E20-A253-3373-DCC9-7043FA7A3BDE</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
